@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  font-family: "Poppins", sans-serif;

}
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:rgba(247, 245, 249, 1);
  ;
  font-family: "Poppins", sans-serif;
  /* position: relative; */
}
.card-can{
 
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;
 margin-top: 10rem;

  top: calc(100rem/16);
  left:calc(100rem/16);
right:calc(100rem/16)
}
.card{

border-radius: 8px;
max-width: calc(608rem/16);
height: calc(297rem/16);
margin-left: 2rem ;
margin-bottom: 1rem;
padding: 1rem;
}

.card{

}

.card-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  ;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 160px;

}
.card-text{
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: rgba(0, 0, 0, 1);
  margin-bottom:calc(32rem/16);
}

.do-btn{
  font-size: 14px;
  color: var(--primary-purple);
  text-decoration: none;
 
  padding: 12px;
  border: 1px solid var(--primary-purple);
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-weight: 600;
line-height: 16px;
width:calc( 122rem/16);
margin-bottom: 40px;
}




.card:hover .card-body,
.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
  color: white ;
  border-color: rgb(7, 7, 7);
}


.testimonial{
  position:absolute;
} 